<mat-toolbar>
    <span 
        routerLink="/"
        class="app-title"
    >
        Angular&amp;Node Social-Network
    </span>
    <span class="spacer"></span>
    <button
        *ngIf="!isAuthenticated"
        mat-button
        routerLink="/login"
    >
        Login
    </button>
    <button
        *ngIf="!isAuthenticated"
        mat-button
        routerLink="/register"
    >
        Register
    </button>
    <button
        mat-button
        routerLink="/users"
    >
        Users
    </button>
    <button
        *ngIf="isAuthenticated"
        mat-button
        (click)="logOut()"
    >
        Log out
    </button>
</mat-toolbar>
<router-outlet></router-outlet>